<h2 class="text-center">Post</h2>
<div class="container mx-auto m-5">
    <label for="" class="form-label">Elige una Categoria</label>
    <select class="form-select" (change)="onChangeCategory($event)">
        <option value="todas">Elige una Opcion</option>
        <option value="personal">Personal</option>
        <option value="social">Social</option>
        <option value="temalibre">Tema Libre</option>

    </select>
</div>
<div class="container">
    <button [routerLink]="['/new']" class="btn btn-secondary d-flex mx-auto mb-4">Crear Nuevo Post</button>
    <button class="btn btn-secondary d-flex mx-auto" (click)="onClick()">Obtener Post Viejos</button>
    

    <div class="row ">
    
        @for (post of arrayPost; track $index) {
            <div class="col-12 p-0 col-sm-6 p-sm-3 col-md-4 p-md-3">
                <card-post [post]="post"></card-post>
            </div>
        }
    </div>
</div>