
button {
    background-color: #FFA27F;
    color: #5C2FC2;
    border: none;

    &:hover {

        background-color: #FFE8C5;
        color: #006769;
    }
}
.old_posts{
    width: 500px;
    margin: 10px auto;
    border: 1px solid #006769;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 20px;

}