<h1>Copyright e Disclaimer</h1>
<h3> 2024. Todos los derechos reservados.</h3>

<p>Todos los contenidos incluidos en este sitio web (por ejemplo: textos, imágenes, logotipos, documentos, gráficos,
diseños) a menos que se especifique lo contrario, son propiedad de Federighi 1926 Spa y están protegidos por derechos de
autor y por la ley de propiedad intelectual.

Estó prohibido el uso, publicación y reproducción, incluso parcial, en cualquier forma de estos contenidos (ejemplo:
textos, imágenes, logotipos, documentos, gráficos, diseños) insertados en este sitio sin la autorización por escrito de
Federighi 1926 Spa.

En caso de autorización por escrito , los contenidos deben permanecer en su formato original y, en caso de ser
reproducidos, deben llevar siempre la información propietaria o relativa a los derechos de autor o los autores y
mencionar la fuente, el autor y / o titular de los derechos sobre los contenidos y la dirección web. de donde fueron
tomados. Los contenidos que ofrece este portal están redactados con el máximo cuidado / diligencia y sometidos a un
cuidadoso control.

Federighi 1926 S.p.a. no obstante, declina toda responsabilidad, directa e indirecta, hacia los usuarios y cualquier
tercero en general, por las inexactitudes, errores, omisiones, daños (directos, indirectos, consecuenciales, punibles y
sancionables) que se deriven de los referidos contenidos.
</p>
